In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head()

In [ ]:
df.shape

(51, 6)

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.isna()

In [ ]:
df.dropna()

In [ ]:
df['Starting Median Salary'].idxmax()

43

In [ ]:
df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [ ]:
df.loc[43]

'Physician Assistant'

In [ ]:
df['Mid-Career Median Salary'].max()

107000.0

In [ ]:
df['Mid-Career Median Salary'].idxmax()

8

In [ ]:
df.loc[8]

In [ ]:
df['Starting Median Salary'].idxmax()

In [ ]:
df.loc[43]

In [ ]:
analysis_data=df['Mid-Career 90th Percentile Salary'].subtract(df['Mid-Career 10th Percentile Salary'])

In [ ]:
df.insert(1,'Spread',analysis_data)

In [ ]:
df.sort_values('Spread')

In [ ]:
df[['Undergraduate Major','Spread']].head()

In [ ]:
df.dropna()

In [ ]:
df.sort_values('Mid-Career 90th Percentile Salary').tail(6)

In [ ]:
df.loc[44]

Undergraduate Major                   Physics
Spread                               122000.0
Starting Median Salary                50300.0
Mid-Career Median Salary              97300.0
Mid-Career 10th Percentile Salary     56000.0
Mid-Career 90th Percentile Salary    178000.0
Group                                    STEM
Name: 44, dtype: object

In [ ]:
df.loc[37]

In [ ]:
df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [ ]:
df.loc[22]

Undergraduate Major                   Finance
Starting Median Salary                47900.0
Mid-Career Median Salary              88300.0
Mid-Career 10th Percentile Salary     47200.0
Mid-Career 90th Percentile Salary    195000.0
Group                                Business
Name: 22, dtype: object

In [ ]:
df.loc[7]

Undergraduate Major                  Business Management
Starting Median Salary                           43000.0
Mid-Career Median Salary                         72100.0
Mid-Career 10th Percentile Salary                38800.0
Mid-Career 90th Percentile Salary               147000.0
Group                                           Business
Name: 7, dtype: object

In [ ]:
df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16